# Common
COMPOSE_PROJECT_NAME=reserva

# Backend
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=prod

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=reserva_restaurante
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Frontend
API_URL=http://localhost:8080/api
APP_NAME=Reserva de Restaurante

# Docker exposed
FRONTEND_PORT=4200
BACKEND_PORT=8080
POSTGRES_PORT=5432