<body class="flex items-center justify-center min-h-screen bg-gray-900 bg-opacity-50">
    <div class="bg-white bg-opacity-80 p-8 rounded-lg shadow-lg w-full max-w-md">
      <h1 class="text-2xl font-bold text-center mb-6">Cadastro</h1>
  
      <form (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <input [(ngModel)]="usuario.nome" name="nome" type="text" placeholder="Nome" required
            class="w-full p-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>
        <div class="mb-4">
          <input [(ngModel)]="usuario.email" name="email" type="email" placeholder="Email" required
            class="w-full p-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>
        <div class="mb-4">
          <input [(ngModel)]="usuario.telefone" name="telefone" type="tel" placeholder="Telefone" required
            class="w-full p-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>
        <div class="mb-4">
          <input [(ngModel)]="usuario.cpf" name="cpf" type="text" placeholder="CPF" required
            class="w-full p-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>
        <div class="mb-4">
          <input [(ngModel)]="usuario.senha" name="senha" type="password" placeholder="Senha" required
            class="w-full p-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>
        <div class="mb-6">
          <input [(ngModel)]="usuario.confirmarSenha" name="confirmarSenha" type="password" placeholder="Confirmar Senha" required
            class="w-full p-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>
        <button type="submit"
          class="w-full p-3 rounded-full bg-yellow-500 text-white font-bold hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500">
          Cadastrar
        </button>
      </form>
    </div>
  </body>
  